# ===== Dependencies =====
node_modules/

# ===== Build output =====
dist/
dist-ssr/

# ===== Env files =====
.env
.env.*.local

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Cache =====
.eslintcache
*.tsbuildinfo

# ===== Local personal assets =====
src/assets/perfil.png
# src/assets/perfil.*